<mat-card class="activity-form-card">
  <mat-card-header>
    <mat-card-title>{{ activity && activity.id ? 'Editar' : 'Nueva' }} Actividad</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="activityForm" class="activity-form" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input matInput formControlName="title" placeholder="Ingresa el título de la actividad" />

        @if(title?.hasError('required')){
        <mat-error *ngIf="title?.hasError('required')"> El título es obligatorio </mat-error>
        } @if(title?.hasError('minlength')){
        <mat-error *ngIf="title?.hasError('minlength')">
          El título debe tener al menos 3 caracteres
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Descripción</mat-label>
        <textarea
          matInput
          formControlName="description"
          rows="3"
          placeholder="Descripción opcional de la actividad"
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Fecha y Hora</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if(date?.hasError('required')){
        <mat-error> La fecha es obligatoria </mat-error>

        }
      </mat-form-field>

      <div class="form-actions">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!activityForm.valid || isLoading"
        >
          @if(isLoading){
          <span>Guardando...</span>
          } @if(!isLoading){
          <span>{{ activity && activity.id ? 'Actualizar' : 'Crear' }}</span>
          }
        </button>
        <button mat-button type="button" (click)="onCancel()" [disabled]="isLoading">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
